{% extends "wypozyczalnia/base.html" %}

{% block content %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <h3>Wszystkie książki tego autora:</h3>
        <h2 class="title">{{ author_name }}</h2>
        <br>
       <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for book in books %}
              <div class="col-lg-3 md-6 mb-4">
                <div class="card">
                  <!--Card image-->
                    <div class="view overlay">
                      <img src="{{ book.image.url }}" class="card-img-top"
                        alt="">
                      <a href="{% url 'book-detail' book.slug %}">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                      <!--Category & Title-->
                      <a href="" class="grey-text">
                        <h5>{{ book.category }}</h5>
                      </a>
                      <h5>
                        <strong>
                          <a href="{% url 'book-detail' book.slug %}" class="dark-grey-text">{{ book.title }}
                          </a>
                        </strong>
                      </h5>

                      <p class="font-weight-bold black-text">
                        <strong><a href ="{% url 'authors-books' book.author %}">{{ book.author }}</a></strong>
                      </p>
                    </div>
                    <!--Card content-->
                </div>
              </div>
          {% endfor %}
        </div>
      </section>
     <!--Section: Products v.3-->
    </div>
</main>
{% endblock content %}